.logo{
    text-align: center;
    margin-bottom: 15px;
}

.logoWidth{
    width: 40%;
    height: auto;
}

.checkboxInput {
    width: 18px;
    height: 18px;
  }
  
  .checkboxLabel {
    margin-left: 10px;
  }

  .place_of_login{
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-weight: 800;
  }